<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/category.css}">

<head>
    <meta charset="UTF-8">
    <title>Delete Course Category</title>
</head>

<body>

    <h1>Delete Course Category</h1>

    <form th:action="@{/admin/categories/delete}" method="post">

        <label for="categoryId">Select Category:</label>

        <select id="categoryId" name="categoryId">
            <option th:each="category : ${categories}"
                    th:value="${category.categoryId}"
                    th:text="${category.categoryName}">
            </option>
        </select>

        <button type="submit">Delete</button>

    </form>

    <a th:href="@{/admin/categories}">Back to Categories</a>

</body>
</html>