<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/category.css}">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Course Category</title>
  </head>

  <body>
    <h1>Edit Course Category</h1>

    <form
      th:action="@{/admin/categories/edit/{id}(id=${courseCategory.categoryId})}"
      th:object="${courseCategory}"
      method="post"
    >
      <label for="categoryName">Category Name:</label>

      <input type="text" id="categoryName" th:field="*{categoryName}" />

      <button type="submit">Save Changes</button>
    </form>

    <a th:href="@{/admin/categories}">Cancel</a>
  </body>
</html>
