<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Course Batch Details</title>
  </head>

  <body>
    <h1>Course Batch Details</h1>

    <p>
      <strong>Batch ID:</strong>
      <span th:text="${singleBatch.batchId}"></span>
    </p>

    <p>
      <strong>Course:</strong>
      <span th:text="${singleBatch.courseDetail.title}"></span>
    </p>

    <p>
      <strong>Training Provider:</strong>
      <span th:text="${singleBatch.courseDetail.trainingProvider}"></span>
    </p>

    <p>
      <strong>Course Fee:</strong>
      <span th:text="${singleBatch.courseDetail.courseFee}"></span>
    </p>

    <p>
      <strong>Start Date:</strong>
      <span th:text="${singleBatch.courseStartDate}"></span>
    </p>

    <p>
      <strong>End Date:</strong>
      <span th:text="${singleBatch.courseEndDate}"></span>
    </p>

    <p>
      <strong>Capacity:</strong>
      <span th:text="${singleBatch.capacity}"></span>
    </p>

    <br />

    <a th:href="@{/admin/batches/edit/{id}(id=${singleBatch.batchId})}">
      Edit Batch
    </a>

    <a th:href="@{/admin/batches}"> Back to Batch List </a>
  </body>
</html>
